/* font-family: 'Red Hat Display', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pale_blue: hsl(225, 100%, 94%);
  --bright_blue: hsl(245, 75%, 52%);
  --very_pale: hsl(225, 100%, 98%);
  --desaturated: hsl(224, 23%, 55%);
  --dark: hsl(223, 47%, 23%);
  --active: #766cf1;
}

body {
  background-image: url(./images/pattern-background-mobile.svg);
  background-color: var(--pale_blue);
  background-repeat: no-repeat;
}
main {
  width: 90%;
  margin: auto;
  margin-top: 6rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: hsla(225, 42%, 61%, 0.5) 5px 5px 10px;
}

.header--img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  width: 100%;
}

.container {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--dark);
  text-align: center;
}

.container--text {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--desaturated);
  text-align: center;
}

.plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very_pale);
  padding: 1rem;
  width: 120%;
  align-self: center;
  border-radius: 0.5rem;
}

.plan--annual h3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--dark);
}

.plan--annual p {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  color: var(--desaturated);
}

.plan a {
  color: var(--bright_blue);
}

.plan a:hover {
  color: var(--active);
}

.btn {
  padding: 1rem;
  width: 120%;
  align-self: center;
  border: none;
  background-color: var(--bright_blue);
  color: white;
  border-radius: 0.75rem;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  box-shadow: hsla(245, 75%, 52%, 0.26) 0px 10px 10px;
}

.btn:hover {
  background-color: var(--active);
}

.cancel {
  align-self: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--desaturated);
  text-decoration: none;
}

.cancel:hover {
  color: var(--dark);
}

.attribution {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.attribution a:hover {
  color: var(--bright_blue);
}

/* Media query */

@media screen and (min-width: 1440px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: var(--pale_blue);
    background-repeat: no-repeat;
    background-size: contain;
  }

  main {
    width: 30%;
    margin: auto;
    margin-top: 6rem;
  }

  .plan--annual {
    flex: 1;
    margin-left: 1rem;
  }

  .attribution {
    margin-top: 3.5rem;
    position: relative;
    bottom: 0;
    text-align: center;
  }
}
